.App {
  text-align: center;
  background-color: black;
  display: flex;
  color: white;
  flex-direction: column;
}
.App-Header {
  flex: 10;
  margin: auto;
  padding: 3em 2em 0 2em;
  text-align: left;
}
.App-Header>h1 {
  font-size: 3em;
  font-weight: 700;
  letter-spacing: 0.2em;
  margin: 0;
}
.App-Header>p {
  color: #d0d0d0;
}
.App-GlobePadding {
  /* Define the space the Globe has and how mach padding there should be */
  flex: 1;
  margin: 0 auto;
  padding: 2em 0.25em;
}
.App-GlobeAspectRatioControl {
  /* Make sure the Globe has an aspect ratio of 1:1 */
  /* The width also makes the size responsive based on the screen size (basically giving a maximum size based on vw and vh */
  padding-top: 100%;
  width: min(50vh, 80vw);
  position: relative;
}
.App-GlobeAspectRatioControl>div {
  /* This additional div is needed when using the padding-top: 100%; trick */
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}

@media only screen and (min-width: 550px) {
  .App {
    /* Place the globe right of the title on large screens */
    flex-direction: row;
  }
  .App-Header {
    padding: 2em;
  }
  .App-Header>h1 {
    margin-bottom: 0.5em;
  }
  .App-GlobePadding {
    /* Same padding on all sides on large screens */
    padding: 2em;
  }
  .App-GlobeAspectRatioControl {
    /* Don't allow the globe to take a large amount of the width, such that the title still has space */
    width: min(70vh, 40vw);
  }
}

@media only screen and (min-width: 650px) {
  .App-Header {
    margin-left: 5vw;
  }
}

@media only screen and (min-width: 1200px) {
  .App-Header {
    margin-left: 10vw;
  }
}


/* @media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
} */
